General Qns

In [1]:
import numpy as np

In [2]:
# Columns : [age, math_marks, science_marks]
# Rows : [student1, student1, student1, student1, student1]
data = np.array([
    [18,85,78],
    [19,92,88],
    [17,76,95],
    [18,65,70],
    [20,90,85]
])

In [3]:
data

array([[18, 85, 78],
       [19, 92, 88],
       [17, 76, 95],
       [18, 65, 70],
       [20, 90, 85]])

Q.1. Get the shape of metrix

In [4]:
data.shape

(5, 3)

Q.2. Find the average age of students

In [5]:
data

array([[18, 85, 78],
       [19, 92, 88],
       [17, 76, 95],
       [18, 65, 70],
       [20, 90, 85]])

In [6]:
age_col = data[:,:1]
age_col

array([[18],
       [19],
       [17],
       [18],
       [20]])

In [7]:
avg = np.mean(data[:,0])
avg

np.float64(18.4)

In [8]:
avg = np.mean(data[:,:1])
avg

np.float64(18.4)

Q.3. Extract/Print math marks of students

In [9]:
data

array([[18, 85, 78],
       [19, 92, 88],
       [17, 76, 95],
       [18, 65, 70],
       [20, 90, 85]])

In [10]:
math_marks = data[:,1:2]
math_marks

array([[85],
       [92],
       [76],
       [65],
       [90]])

Q.4. find the highest science marks of students

In [11]:
data

array([[18, 85, 78],
       [19, 92, 88],
       [17, 76, 95],
       [18, 65, 70],
       [20, 90, 85]])

In [12]:
sci_marks = data[:,2:3]
sci_marks

array([[78],
       [88],
       [95],
       [70],
       [85]])

In [13]:
sci_max_marks = np.max(sci_marks)
sci_max_marks

np.int64(95)

Q.5. Get the details of student who scored more than 90 in math

In [14]:
data

array([[18, 85, 78],
       [19, 92, 88],
       [17, 76, 95],
       [18, 65, 70],
       [20, 90, 85]])

In [15]:
data[:,1]

array([85, 92, 76, 65, 90])

In [16]:
data[:,1]>90

array([False,  True, False, False, False])

In [17]:
data[data[:,1]>90]

array([[19, 92, 88]])

Q.6. Increase math marks of all students by 5

In [18]:
data

array([[18, 85, 78],
       [19, 92, 88],
       [17, 76, 95],
       [18, 65, 70],
       [20, 90, 85]])

In [19]:
inc = data[:,1]
inc

array([85, 92, 76, 65, 90])

In [20]:
result = inc + 5
result

array([90, 97, 81, 70, 95])

Q.7. Find how many students sre yunger than 19

In [21]:
data

array([[18, 85, 78],
       [19, 92, 88],
       [17, 76, 95],
       [18, 65, 70],
       [20, 90, 85]])

In [22]:
len(data[data[:,0]<19])

3

Q.8. Calculate the average marks in each subject (columan-wise mean)

In [23]:
data

array([[18, 85, 78],
       [19, 92, 88],
       [17, 76, 95],
       [18, 65, 70],
       [20, 90, 85]])

In [24]:
np.mean(data[:,1:3],axis=0)

array([81.6, 83.2])

Q.9. Get data of students who scored at least 80 in both subjects

In [25]:
data

array([[18, 85, 78],
       [19, 92, 88],
       [17, 76, 95],
       [18, 65, 70],
       [20, 90, 85]])

In [26]:
data[ (data[:,1]>=80) & (data[:,2]>=80) ]

array([[19, 92, 88],
       [20, 90, 85]])

Q.9. Update math marks by adding 5

In [27]:
data

array([[18, 85, 78],
       [19, 92, 88],
       [17, 76, 95],
       [18, 65, 70],
       [20, 90, 85]])

In [28]:
data[:,1]

array([85, 92, 76, 65, 90])

In [29]:
data[:,1]+=5

In [30]:
data

array([[18, 90, 78],
       [19, 97, 88],
       [17, 81, 95],
       [18, 70, 70],
       [20, 95, 85]])

Q.10. Replace all Science marks < 75 with 0.

In [31]:
data

array([[18, 90, 78],
       [19, 97, 88],
       [17, 81, 95],
       [18, 70, 70],
       [20, 95, 85]])

In [32]:
data[:,2]

array([78, 88, 95, 70, 85])

In [33]:
data[:,2][data[:,2] < 75 ] = 0

In [34]:
data

array([[18, 90, 78],
       [19, 97, 88],
       [17, 81, 95],
       [18, 70,  0],
       [20, 95, 85]])