General Qns

In [67]:
import numpy as np

In [68]:
# Columns : [age, math_marks, science_marks]
# Rows : [student1, student1, student1, student1, student1]
data = np.array([
    [18,85,78],
    [19,92,88],
    [17,76,95],
    [18,65,70],
    [20,90,85]
])

In [69]:
data

array([[18, 85, 78],
       [19, 92, 88],
       [17, 76, 95],
       [18, 65, 70],
       [20, 90, 85]])

Q.1. Get the shape of metrix

In [70]:
data.shape

(5, 3)

Q.2. Find the average age of students

In [71]:
data

array([[18, 85, 78],
       [19, 92, 88],
       [17, 76, 95],
       [18, 65, 70],
       [20, 90, 85]])

In [72]:
age_col = data[:,:1]
age_col

array([[18],
       [19],
       [17],
       [18],
       [20]])

In [73]:
avg = np.mean(data[:,0])
avg

np.float64(18.4)

In [74]:
avg = np.mean(data[:,:1])
avg

np.float64(18.4)

Q.3. Extract/Print math marks of students

In [75]:
data

array([[18, 85, 78],
       [19, 92, 88],
       [17, 76, 95],
       [18, 65, 70],
       [20, 90, 85]])

In [76]:
math_marks = data[:,1:2]
math_marks

array([[85],
       [92],
       [76],
       [65],
       [90]])

Q.4. find the highest science marks of students

In [77]:
data

array([[18, 85, 78],
       [19, 92, 88],
       [17, 76, 95],
       [18, 65, 70],
       [20, 90, 85]])

In [78]:
sci_marks = data[:,2:3]
sci_marks

array([[78],
       [88],
       [95],
       [70],
       [85]])

In [79]:
sci_max_marks = np.max(sci_marks)
sci_max_marks

np.int64(95)

Q.5. Get the details of student who scored more than 90 in math

In [80]:
data

array([[18, 85, 78],
       [19, 92, 88],
       [17, 76, 95],
       [18, 65, 70],
       [20, 90, 85]])

In [81]:
data[:,1]

array([85, 92, 76, 65, 90])

In [82]:
data[:,1]>90

array([False,  True, False, False, False])

In [83]:
data[data[:,1]>90]

array([[19, 92, 88]])

Q.6. Increase math marks of all students by 5

In [85]:
data

array([[18, 85, 78],
       [19, 92, 88],
       [17, 76, 95],
       [18, 65, 70],
       [20, 90, 85]])

In [88]:
inc = data[:,1]
inc

array([85, 92, 76, 65, 90])

In [90]:
result = inc + 5
result

array([90, 97, 81, 70, 95])